---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-sql.min.js"></script>

    <title>Portafolio BA</title>
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans">
   
    <Hero />
    <section class="max-w-4xl mx-auto py-2 px-4">
         <h2 class="text-3xl font-bold text-gray-800"> Caso #1 </h2>

      
    </section>
  </body>
</html>