---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import SqlBlock from "../components/SqlBlock.astro"
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
<script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-sql.min.js"></script>

    <title>Portafolio BA</title>
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans">
  
    <Hero />
   <section class="max-w-4xl mx-auto py-1 px-4">
  <h2 class="text-3xl font-bold text-gray-800 py-2">Caso #1 H.H.R.R</h2>

<p class="text-sm text-gray-600 mt-4">
  Fuente del dataset: 
  <a href="https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset" 
     target="_blank" 
     class="text-blue-600 underline hover:text-blue-800">
    IBM HR Analytics (Kaggle)
  </a>
</p>


  <SqlBlock
    title="1. Departamentos con mayor rotación de empleados"
    question="¿Qué departamentos tienen mayor tasa de abandono?"
    sql={`SELECT Department,
          COUNT(*) AS TotalEmployees,
          SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) AS EmployeesLeft,
          ROUND(100.0 * SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS AttritionRate
    FROM Employees
    GROUP BY Department
    ORDER BY AttritionRate DESC;`}
    image="/images/rotacionDepartamentos.PNG"
    interpretation="El departamento de Ventas tiene la mayor tasa de rotación con un 20%, seguido por Recursos Humanos. Esto podría indicar problemas en el ambiente laboral, liderazgo o carga de trabajo. Se recomienda realizar entrevistas de salida y revisar políticas internas en esas áreas."
  />

  <SqlBlock
    title="2. ¿Hay relación entre años en el trabajo actual y rotación?"
    question="¿Los empleados que llevan poco tiempo son más propensos a irse?"
    sql={`SELECT YearsAtCompany,
       COUNT(*) AS TotalEmployees,
       SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) AS EmployeesLeft,
       ROUND(100.0 * SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS AttritionRate
FROM Employees
GROUP BY YearsAtCompany
ORDER BY YearsAtCompany;`}
    image="/images/rotacionNuevosEmpleados.PNG"
    interpretation="Los empleados con menos de 2 años en la empresa presentan una tasa de rotación significativamente mayor. Esto sugiere que el onboarding o las expectativas del puesto no se están gestionando bien. Se recomienda mejorar los programas de incorporación, ofrecer mentoring a nuevos empleados y hacer seguimiento durante los primeros 6 meses."
  />

  <SqlBlock
    title="3. Análisis de género y salario"
    question="¿Existe diferencia salarial entre hombres y mujeres?"
    sql={`SELECT Gender, 
       COUNT(*) AS TotalEmployees,
       AVG(MonthlyIncome) AS AvgIncome
FROM Employees
GROUP BY Gender;`}
    image="/images/generoSalario.PNG"
    interpretation="En contra de lo que suele observarse en la mayoría de las organizaciones, los resultados muestran que las mujeres tienen un ingreso promedio mensual ligeramente superior al de los hombres en este conjunto de datos (₡6,686 vs ₡6,380). Esto podría ser señal de una cultura organizacional fuerte en equidad de género."
  />

  <SqlBlock
    title="4. Relación entre educación y salario"
    question="¿Los empleados con mayor nivel educativo ganan más?"
    sql={`SELECT Education, 
       AVG(MonthlyIncome) AS AvgIncome
FROM Employees
GROUP BY Education
ORDER BY Education;`}
    image="/images/salarioPorEducacion.PNG"
    interpretation="El patrón indica que la empresa reconoce y recompensa la formación académica con mejores condiciones salariales, especialmente en los niveles superiores (el salto entre nivel 4 y 5 es significativo).Sin embargo, las diferencias entre los niveles intermedios (2 a 4) son relativamente pequeñas, lo que podría hacer que algunos empleados con más estudios perciban que su esfuerzo adicional no está bien remunerado."
  />

  <SqlBlock
    title="5. Jornada laboral y desgaste"
    question="¿Los empleados que trabajan más horas tienden a irse más?"
    sql={`SELECT OverTime, 
       COUNT(*) AS TotalEmployees,
       SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) AS EmployeesLeft,
       ROUND(100.0 * SUM(CASE WHEN Attrition = 'Yes' THEN 1 ELSE 0 END) / COUNT(*), 2) AS AttritionRate
FROM Employees
GROUP BY OverTime;`}
    image="/images/jornadaDesgaste.PNG"
    interpretation="Los empleados que trabajan horas extra tienen una rotación más alta que quienes no lo hacen, lo que sugiere una posible carga laboral excesiva. Se recomienda revisar la distribución de tareas, establecer límites saludables de horas extra, y promover el equilibrio vida-trabajo."
  />
</section>
  </body>
</html>